.desktop-container1 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.desktop-desktop {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}


.desktop-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* HEADER */
.desktop-navigation {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  gap: 800px;
  align-items: center;
  padding: 20px 40px;
  position: absolute;
  top: 0;
  left: 0;
}

.desktop-image1 {
  width: 45px;
}


.desktop-hero-content {
  margin-top: 140px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.desktop-text1 {
  font-size: 48px;
  text-align: center;
  color: #2e2e2e;
}

.desktop-text2 {
  margin-top: 10px;
  font-size: 22px;
  color: rgb(60,60,60);
  text-align: center;
}

.desktop-text3 {
  margin-top: 8px;
  font-size: 18px;
  text-align: center;
}


.desktop-inputs-wrapper {
  margin-top: 40px;
  display: flex;
  gap: 40px;
}

.desktop-input-field1,
.desktop-input-field2 {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.desktop-input1,
.desktop-input2 {
  padding: 12px 16px;
  font-size: 18px;
  border-radius: 8px;
  border: 1px solid #dcdcdc;
  background: #fff;
}


.desktop-button-primary-with-icon {
  margin-top: 40px;
  padding: 16px 25px;
  border-radius: 10px;
  background: #ff76a9;
  color: white;
  border: none;
  cursor: pointer;
  transition: .25s;
}

.desktop-button-primary-with-icon:hover {
  transform: scale(1.05);
  background: #ff8db8;
}

.desktop-text4 {
  font-size: 18px;
}

.weather-box {
  margin-top: 40px;
  padding: 20px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(6px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  text-align: center;
  width: 320px;
  font-family: Quicksand, sans-serif;
  color: #333;
}

.weather-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
}

.weather-item {
  font-size: 18px;
  margin: 6px 0;
}

.hidden {
  display: none;
}